$background: #1f1f24;
$backgroundCard: #31313a;
$mainTheme: #f08808;
$white: #fff;
$lightGrey: #878787;
$lightFont: #d1d1d2;


@import url('https://fonts.googleapis.com/css?family=Raleway:600,800|Roboto:400,700&display=swap&subset=cyrillic');
