
  <div class="card-wrap" >
    <div class="card-content about">
      <div class="title">
        <span>About me</span>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="text-bold">Hello! I’m Viktor</p>
          <p>I'm Web-Developer specialized in Frontend (<b>Angular</b>) for complex scalable web applications.</p>
          <p>I always study new technologies to help my customers. Also I am a detail-oriented person. Feel free to contact me and we'll find out together how to make your products awesome!)</p>
        </div>
        <div class="col-6">
          <p><span class="text-bold">Date Of Birth: </span><span>1 April 1997</span></p>
        </div>
        <div class="col-6">
          <p><span  class="text-bold">Adress: </span><span>Kyiv. Ukraine</span></p>
        </div>


      </div>
      <div class="subtitle">
        <span>My Services</span>
      </div>
      <div class="row services">
        <div class="col-6 service">
          <img class="service-icon" src="assets/images/pc-coding.svg" alt="">
          <div class="service-name">
            <span>Web Development</span>
          </div>
          <div class="service-description">
            <p>Modern and mobile-ready web-application/website development from scratch.
            </p>
          </div>
        </div>
        <div class="col-6 service">
          <img class="service-icon" src="assets/images/pc-coding.svg" alt="">
          <div class="service-name">
            <span>Web Development</span>
          </div>
          <div class="service-description">
            <p>Completion of finished web-applications/websites
            </p>
          </div>
        </div>
      </div>
      <div class="subtitle">
        <span>Hobbies & interest</span>
      </div>
      <div class="row hobbies">
        <div class="col-4 hobby">
          <div class="hobby-icon">
            <i class="fas fa-compact-disc"></i>
          </div>
          <div class="hobby-name">
            <span>Movie</span>
          </div>
        </div>
        <div class="col-4 hobby">
          <div class="hobby-icon">
            <i class="fas fa-plane"></i>
          </div>
          <div class="hobby-name">
            <span>Travel</span>
          </div>
        </div>
        <div class="col-4 hobby">
          <div class="hobby-icon">
            <i class="fas fa-music"></i>
          </div>
          <div class="hobby-name">
            <span>Music</span>
          </div>
        </div>
      </div>
    </div>

  </div>

