.container.max-content {
  height: auto;
  padding: 0 15px;
  max-width: 100vw;
}

:host {
  ::ng-deep{
    .card-inner {
      display: block;
      height: max-content !important;
      overflow: visible;
      .card-wrap{
        min-height: max-content;
      }
    }
  }
}
