<div class="card-started">
  <div class="profile no-photo">
    <div class="profile-content">
      <div class="profile__avatar">
        <figure>
          <img src="assets/images/ava.jpeg" alt="">
        </figure>
      </div>
      <div class="title">Viktor Khizhnyak</div>
      <div class="sub-title">Web Developer</div>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github-square"></i></a> <!-- uses brands style -->
      </div>
      <div class="lnks">
        <a href="#" class="lnk">
          <span class="text">Download CV <i class="fas fa-download"></i></span>
        </a>
        <a href="#" class="lnk">
          <span class="text">Contact Me <i class="fas fa-paper-plane"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>
