<div class="card-started">
  <div class="profile no-photo">
    <div class="profile-content">
      <div class="profile__avatar">
        <figure>
          <img src="assets/images/ava.jpeg" alt="">
        </figure>
      </div>
      <div class="title">Viktor Khizhnyak</div>
      <div class="sub-title">Web Developer</div>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="https://linkedin.com/in/viktorkhyzhnyak" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/DarksomeV" target="_blank"><i class="fab fa-github-square"></i></a> <!-- uses brands style -->
      </div>
      <div class="lnks">
        <button type="button" class="lnk" fileSaver [method]="'GET'" [fileName]="'CV_VIKTOR_KHIZHNYAK.pdf'" [url]="'assets/files/CV.pdf'">
          <span class="text">Download CV <i class="fas fa-download"></i></span>
        </button>
        <a href="https://linkedin.com/in/viktorkhyzhnyak" class="lnk" target="_blank">
          <span class="text">Contact Me <i class="fas fa-paper-plane"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>
