<div class="page page_wrap">
  <div class="container" *ngIf="device === 'desktop'; else mobileDevice" [@routeAnimations]="prepareRoute(outlet)">
    <app-header></app-header>
    <app-profile-card></app-profile-card>
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <ng-template #mobileDevice>
    <app-mobile-home-page></app-mobile-home-page>
  </ng-template>
  <!-- /.container -->
</div>

<div class="counter" style="display: none;">
  <a href="http://www.reliablecounter.com" target="_blank"><img src="http://www.reliablecounter.com/count.php?page=enviti-portfolio.herokuapp.com/&digit=style/plain/10/&reloads=0" alt="reliablecounter.com" title="reliablecounter.com" border="0"></a><br /><a href="http://relia" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">reliablecounter blog</a>
</div>

