  <div class="card-wrap">
    <div class="card-content resume">
      <div class="title">
        <span>Resume</span>
      </div>
      <div class="subtitle">
        <span>Expierence</span>
      </div>
      <div class="row expierence">
        <div class="col-12 expierence-item" *ngFor="let activity of expierence">
          <div class="expierence-item__title">
            <span class="text-uppercase">{{activity.name}}</span> - <span>{{activity.dates.start.month}} {{activity.dates.start.year}} /
            <ng-container *ngIf="activity.dates.end.now; else inPast" >
              Present
            </ng-container>
            <ng-template #inPast>{{activity.dates.end.month}} {{activity.dates.end.year}}</ng-template>
          </span>
          </div>
          <div class="expierence-item__institution">
            <span>{{activity.company}}</span>
          </div>
          <div class="expierence-item__description">
            <p>{{activity.description}}</p>
          </div>
        </div>
      </div>
      <div class="subtitle">
        <span>Education</span>
      </div>
      <div class="row education expierence">
        <div class="col-12 expierence-item" *ngFor="let activity of education">
          <div class="expierence-item__title">
            <span class="text-uppercase">{{activity.name}}</span> - <span>{{activity.dates.start}}/{{activity.dates.end}}</span>
          </div>
          <div class="expierence-item__institution">
            <span>{{activity.university}}</span>
          </div>
          <div class="expierence-item__description">
            <p>{{activity.description}}</p>
          </div>
        </div>
      </div>
      <div class="subtitle">
        <span>Skills</span>
      </div>
      <div class="flex-skills">
        <div class="skills">
          <div class="skill" *ngFor="let skill of skills.skillsForProgress">
            <div class="skill-name">
              <span>{{ skill.name }}</span>
            </div>
            <div class="track-progress">
              <ngx-skill-bar percentage="{{skill.progress}}" numberOfBars="5" color="#f08808"></ngx-skill-bar>
            </div>
          </div>
        </div>
        <div class="another-skills">
          <p class="text-uppercase">Another skills:</p>
          <p *ngFor="let skill of skills.anotherSkills">{{skill}}</p>
        </div>
      </div>
      <div class="subtitle">
        <span>Languages</span>
      </div>
      <div class="row known-languages justify-content-around">
        <div class="progress-wrapper" *ngFor="let language of knownLanguages; let i = index;">
          <div class="current">{{ language.current }}/100</div>
        <round-progress
          [current]="language.current"
          [max]="100"
          [color]="'#f08808'"
          [background]="'#31313a'"
          [responsive]="true"
          [semicircle]="true"
          [rounded]="true"
          [duration]="(i+2) * 2000"
          [animation]="'easeInOutQuart'"
          [animationDelay]="0"
        ></round-progress>
          <div class="lang-title">
            <span>{{language.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

