<div class="card-inner animated" id="card-resume">
  <div class="card-wrap">
    <div class="card-content resume">
      <div class="title">
        <span>Resume</span>
      </div>
      <div class="subtitle">
        <span>Expierence</span>
      </div>
      <div class="row expierence">
        <div class="col-12 expierence-item">
          <div class="expierence-item__title">
            <span class="text-uppercase">Web Developer</span>-<span>06.2018/Present</span>
          </div>
          <div class="expierence-item__institution">
            <span>Company name</span>
          </div>
          <div class="expierence-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea earum, eveniet quae quaerat sapiente voluptatum.</p>
          </div>
        </div>
        <div class="col-12 expierence-item">
          <div class="expierence-item__title">
            <span class="text-uppercase">Web Developer</span>-<span>06.2018/Present</span>
          </div>
          <div class="expierence-item__institution">
            <span>Company name</span>
          </div>
          <div class="expierence-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea earum, eveniet quae quaerat sapiente voluptatum.</p>
          </div>
        </div>
      </div>
      <div class="subtitle">
        <span>Education</span>
      </div>
      <div class="row education expierence">
        <div class="col-12 expierence-item">
          <div class="expierence-item__title">
            <span class="text-uppercase">Field of study</span>-<span>06.2018/Present</span>
          </div>
          <div class="expierence-item__institution">
            <span>Company name</span>
          </div>
          <div class="expierence-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea earum, eveniet quae quaerat sapiente voluptatum.</p>
          </div>
        </div>
        <div class="col-12 expierence-item">
          <div class="expierence-item__title">
            <span class="text-uppercase">Field of study</span>-<span>06.2018/Present</span>
          </div>
          <div class="expierence-item__institution">
            <span>Company name</span>
          </div>
          <div class="expierence-item__description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea earum, eveniet quae quaerat sapiente voluptatum.</p>
          </div>
        </div>
      </div>
      <div class="subtitle">
        <span>Skills</span>
      </div>
      <div class="flex-skills">
        <div class="skills">
          <div class="skill">
            <div class="skill-name">
              <span>Front-End</span>
            </div>
            <ol class="track-progress">
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="todo">
              </li>
              <li class="todo">
              </li>
              <li class="todo">
              </li>
            </ol>
          </div>
          <div class="skill">
            <div class="skill-name">
              <span>Front-End</span>
            </div>
            <ol class="track-progress">
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="todo">
              </li>
              <li class="todo">
              </li>
            </ol>
          </div>
          <div class="skill">
            <div class="skill-name">
              <span>Front-End</span>
            </div>
            <ol class="track-progress">
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="todo">
              </li>
            </ol>
          </div>
          <div class="skill">
            <div class="skill-name">
              <span>Front-End</span>
            </div>
            <ol class="track-progress">
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="done">
              </li>
              <li class="done">
              </li>
            </ol>
          </div>
        </div>
        <div class="another-skills">
          <p class="text-uppercase">Another skills:</p>
          <p>Skill text more</p>
          <p>Skill text more</p>
          <p>Skill text more</p>
        </div>
      </div>
      <div class="subtitle">
        <span>Languages</span>
      </div>
      <div class="row">
        <div class="progress-circle over50 p100">
          <span>Ukrainian native</span>
          <div class="left-half-clipper">
            <div class="first50-bar"></div>
            <div class="value-bar"></div>
          </div>
        </div>
        <div class="progress-circle over50 p85">
          <span>Russian 85%</span>
          <div class="left-half-clipper">
            <div class="first50-bar"></div>
            <div class="value-bar"></div>
          </div>
        </div>
        <div class="progress-circle over50 p75">
          <span>English 75%</span>
          <div class="left-half-clipper">
            <div class="first50-bar"></div>
            <div class="value-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
